@font-face {
  font-family: 'Sanford';
  src: url('@/fonts/at-sanford-regular.woff2') format('woff2'),
       url('@/fonts/at-sanford-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
