@use '@/styles/tokens' as *;

.wrap {
  --padding: 40px;
  --controls-height: 56px;
  --controls-gap: 10px;

  width: 100vw;
  height: 100vh;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: size;
  font-family:
    ui-sans-serif,
    "San Francisco",
    sans-serif;
}

.game {
  --cell-size: round(
    down,
    min(
      100cqw / var(--col-count),
      (100cqh - var(--controls-height) - var(--controls-gap)) / var(--row-count)
    ),
    #{$scrim-tiles-per-cell * 1px}
  );

  display: flex;
  flex-direction: column;
  gap: var(--controls-gap);
  width: calc(var(--cell-size) * var(--col-count));
}
