.controls {
  height: var(--controls-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.controlsLeft {
  display: flex;
  align-items: center;
  gap: 25px;
  min-width: 0;
}
