@use '@/styles/vars';

.wrap {
  position: relative;
  z-index: vars.$zHeader;

  h1 {
    font: 40px/var(--title-height) 'Sanford';
    text-transform: uppercase;
    letter-spacing: 0.025em;
    pointer-events: none;
  }

}
