@use '@/styles/colors';
@use '@/styles/vars';

.wrap {
  position: relative;
  z-index: vars.$zHeader;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  pointer-events: none;

  h1 {
    font: 35px/var(--title-height) 'Sanford';
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }
}

.levels {
  display: flex;
  align-items: center;
  gap: 6px;
}

.level {
  width: 14px;
  height: 14px;
  border: 2px solid colors.$textDim;
  border-radius: 50%;

  &.reached {
    border-color: colors.$heading;
    background-color: colors.$heading;
  }
}
