@use '@/styles/colors';
@use '@/styles/vars';

.footer {
  position: relative;
  z-index: vars.$zFooter;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;

  span {
    line-height: 20px;
    color: colors.$heading;
    font-size: 20px;
    font-weight: 600;

    &.moveCount {
      font-weight: 900;

      &.lost {
        color: colors.$lost;
      }
    }

    &.par {
      font-weight: 300;
      color: colors.$textDim;
    }
  }
}
