@use '@/styles/colors';

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: colors.$heading;
  font-size: 250px;
  line-height: 200px;
  cursor: pointer;
  background: none;
  appearance: none;
  border: none;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.5;
  }

  &.delayed {
    animation: appear 300ms var(--appear-delay) ease-out both;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    pointer-events: none;
  }
}
